{% extends "layout.html" %}

{% block title %}
    camera
{% endblock %}

{% block main %}
{%if message == 1%}
<H3 style="align-content: center;font-family: 'Roboto', sans-serif;position: absolute;border-radius: 0; left: 40%; top:0%;" class="alert-danger">No such user<br></H3>
{%endif%}
{%if message == 2%}
<H3 style="align-content: center;font-family: 'Roboto', sans-serif;position: absolute;border-radius: 0; left: 43%; top:0%;" class="alert-danger">Not clear<br></H3>
{%endif%}

{%if message == 3%}
<H3 style="align-content: center;font-family: 'Roboto', sans-serif;position: absolute;border-radius: 0; left: 43%; top:0%;" class="alert-danger">Incorrect face<br></H3>
{%endif%}

{%if message == 5%}
<H3 style="align-content: center;font-family: 'Roboto', sans-serif;position: absolute;border-radius: 0; left: 43%; top:0%;" class="alert-danger">Not set face recognition yet<br></H3>
{%endif%}


<div style="padding: 0px;margin: 0px;width:220;height:240;">

<canvas 
  style="position: absolute; left: 0%;z-index: -1; top:0%;height: 480px;width: 640px;"
  id="canvas" >
</canvas>

<button
 id="stop" 
 onclick="stop()" 
 style="display:none">stop
</button>

<video id="player" style="position: sticky;height: 640;width: 480;z-index: -1;"
autoplay>
</video>

<br>

<button
 id="capture" 
 style="align-content: center;position: absolute;border-radius: 100px; left: 47%; top:50%;"
 class="btn btn-primary"
 onclick="capture()">
 Capture
</button>

<form action="/facereg" method="post"  enctype="multipart/form-data" >
<input 
type="text" 
required="true" 
placeholder ="Username"
class="form-control"
id="name"
name="name"
style="align-content: center;position: absolute;width:20%;border-radius: 100px; left: 35%; top:50%;display: none;">
<br>

<input 
type="text" 
id="pic" name="pic" 
style="display:none">

<button id="scan"
 style="align-content: center;position: absolute;border-radius: 100px;display: none; left: 52%; top:50%;"
 class="btn btn-primary">
  scan
</button>

</form>

</div>




<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');
  const scan = document.getElementById('scan');
  const img = document.getElementById('pic');
  const name = document.getElementById('name');

  const vgaconstraints = {
  video: {width: {exact: 720}, height: {exact: 480}},
  };

  function capture(){
  canvas.style.position="relative";
  canvas.style.left="0%";
  canvas.style.top="0%";
  canvas.style.width = "720px";
  canvas.style.height = "480px"
  	
  	

    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    player.style.display="none";
    captureButton.style.display="none";
    scan.style.display="block";
    name.style.display="block";

    cap = canvas.toDataURL('image/png').split(",")[1];
    img.value=cap;
    
  }

function stop(){
  player.srcObject.getVideoTracks().forEach(track => track.stop());
}



  navigator.mediaDevices.getUserMedia(vgaconstraints)
    .then((stream) => {
      // Attach the video stream to the video element and autoplay.
      player.srcObject = stream;
    });
</script>
 

</html>
{% endblock %}